* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  width: 1116px;
  margin: 0 auto;
}

.signup-main {
  background-color: #ececec;
  height: 100vh;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-main .sidePic {
  background-image: url("../img/Exams-rafiki.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50vh;
  height: 75vh;
  border-radius: 20px;
}
.signup-main .head {
  margin-left: 20px;
}
.signup-main__div {
  display: flex;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  border-radius: 20px;
}
.signup-main .input-group,
.signup-main .btn-remember,
.signup-main .Ebtn {
  margin: 20px;
}
.signup-main .para {
  display: flex;
  color: #474747;
  justify-content: center;
}
.signup-main .para a {
  color: #040404;
  margin-left: 6px;
}

@media (min-width: 350px) and (max-width: 750px) {
  .signup-main .sidePic {
    display: none;
  }
  .signup-main .Signup-Right-div {
    width: 100%;
  }
  .signup-main .Signup-Right-div .input-group__inout {
    width: 100%;
  }
  .signup-main .Signup-Right-div .Ebtn {
    margin-left: 0;
    width: 100%;
  }
}
@media (min-width: 720px) and (max-width: 850px) {
  .signup-main {
    width: 100%;
  }
  .signup-main .sidePic {
    display: block;
    background-size: 100% 100%;
  }
  .signup-main .Signup-Right-div {
    width: 50%;
  }
  .signup-main .Signup-Right-div .input-group__input {
    width: 100%;
  }
  .signup-main .Signup-Right-div .Ebtn {
    width: 100%;
    margin-left: 0;
  }
}
.log-main {
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #ececec;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.log-main img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin-right: 20px;
}
.log-main__div {
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}
.log-main__div .input-group,
.log-main__div .btn-remember,
.log-main__div .Ebtn {
  margin: 20px;
}
.log-main__div .input-group,
.log-main__div .Ebtn {
  margin-top: 40px;
}
.log-main__div .btn-remember {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.log-main__div .btn-forget a {
  text-decoration: underline;
  color: #040404;
}
.log-main__div .para {
  display: flex;
  color: #474747;
  justify-content: center;
}
.log-main__div .para a {
  margin-left: 6px;
  color: #040404;
}
.log-main .head {
  margin-left: 20px;
}

@media (min-width: 300px) and (max-width: 763px) {
  .log-main .sidePic {
    display: none;
  }
  .log-main .rightDiv {
    width: 100%;
  }
  .log-main .rightDiv .input-group__input {
    width: 100%;
  }
  .log-main .rightDiv .Ebtn {
    width: 100%;
    margin-left: 0;
  }
  .log-main .rightDiv .btn-forget {
    margin-left: 20px;
  }
}
@media (min-width: 763px) and (max-width: 900px) {
  .log-main .sidePic {
    width: 50%;
  }
  .log-main .rightDiv {
    width: 50%;
  }
  .log-main .rightDiv .input-group__input {
    width: 100%;
  }
  .log-main .rightDiv .Ebtn {
    width: 100%;
    margin-left: 0;
  }
}
.result-container {
  background-color: #ececec;
  background-position: center;
  background-size: 100vw 100vh;
  height: 100vh;
  display: flex;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}
.result-container #result-score {
  background-color: transparent;
  margin-top: 20px;
  width: 700px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.result-container #result-score h2 {
  font-size: larger;
  font-weight: 800;
  color: #040404;
  line-height: 40px;
}
.result-container #result-score h1 {
  color: #040404;
}
.result-container #result-score__score {
  width: 200px;
  background-color: rgba(8, 38, 11, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border: 2px solid #ececec;
  margin-top: 10px;
  font-size: large;
  font-weight: 600;
  border-radius: 10px;
}
.result-container #result-score__score h1 {
  color: #ececec;
}
.result-container #result-score #result-massege,
.result-container #result-score #saved-massege {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  text-transform: capitalize;
  text-justify: unset;
  width: 600px;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  font-weight: 700;
  border: 2px solid #ececec;
  margin-top: 5px;
  font-size: larger;
  color: #040404;
  background-color: #ffffff;
}
.result-container #result-score #time {
  display: flex;
  height: auto;
  background-color: #ffffff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  text-transform: capitalize;
  text-justify: unset;
  width: 600px;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  font-weight: 700;
  border: 2px solid #ececec;
  margin-top: 5px;
  font-size: larger;
}
.result-container #result-score #time h1 {
  color: #040404;
}
.result-container #result-score #time img {
  color: red;
}

@media (min-width: 300px) and (max-width: 650px) {
  .result-container #result-score {
    width: 100%;
  }
  .result-container #result-score #result-massege, .result-container #result-score #saved-massege, .result-container #result-score #time {
    width: 100%;
  }
}
.body {
  background-color: #ececec;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  -moz-column-gap: 40px;
       column-gap: 40px;
  background-position: center;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}
.body .center {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.body .Exam_container {
  background-color: #ffffff;
  width: 700px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  row-gap: 30px;
}
.body .Exam_container .btns {
  display: flex;
  justify-content: space-between;
}
.body .Exam_container .markBtnd {
  display: flex;
  justify-content: space-between;
}
.body .Exam_container #markBtn:hover {
  cursor: pointer;
}
.body .Exam_container #answersContainer {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  row-gap: 10px;
  padding: 10px;
}
.body .Exam_container button {
  width: 80px;
  height: 40px;
  font-size: large;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 5px;
  cursor: pointer;
}
.body .Exam_container #prevBtn {
  color: rgba(8, 38, 11, 0.8);
  background-color: #ffffff;
  border: 1px solid rgba(8, 38, 11, 0.8);
}
.body .Exam_container #nextBtn {
  color: #ffffff;
  background-color: rgba(8, 38, 11, 0.8);
}
.body .Exam_container #submitBtn {
  width: 100%;
  height: 40px;
  color: #ffffff;
  background-color: rgba(8, 38, 11, 0.8);
}

.mark_div {
  background-color: #ffffff;
  width: 400px;
  max-height: 286px;
  overflow: auto;
  border-radius: 15px;
}
.mark_div h2 {
  text-align: center;
  margin-bottom: 10px;
}

.time {
  background-color: rgba(8, 38, 11, 0.8);
  padding: 5px;
  margin-bottom: 5px;
  width: 400px;
  font-size: large;
  border-radius: 15px;
  color: #ececec;
}
.time #myTime {
  font-size: large;
  margin-left: 5px;
}

.question-ans {
  background-color: #ececec;
  padding: 10px;
  width: 450px;
  border-radius: 5px;
}

#questionText {
  margin-left: 10px;
}

.ans-input {
  height: 20px;
  width: 20px;
  background-color: transparent;
  margin-right: 10px;
}

#myBar {
  width: 1%;
  height: 25px;
  background-color: rgba(8, 38, 11, 0.8);
  border-radius: 15px;
}

.mark-time {
  align-self: flex-start;
  overflow-y: auto;
}

.marked-question {
  cursor: pointer;
  margin: 5px;
  padding: 15px;
  border: 1px solid #ddd;
  background-color: #ffc800;
  color: #040404;
  border-radius: 10px;
}

.marked-question:hover {
  background-color: #ffffff;
  color: #040404;
}

@media (min-width: 705px) and (max-width: 1200px) {
  .center {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
  }
  .center .mark-time {
    align-self: center;
    width: 50%;
  }
  .center .mark-time .time {
    width: 100%;
  }
  .center .mark-time .mark_div {
    width: 100%;
  }
}
@media (min-width: 300px) and (max-width: 705px) {
  .center {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
  }
  .center .Exam_container {
    width: 50%;
  }
  .center .Exam_container .question-ans {
    width: 100%;
  }
  .center .mark-time {
    align-self: center;
    width: 50%;
  }
  .center .mark-time .time {
    width: 100%;
  }
  .center .mark-time .mark_div {
    width: 100%;
  }
}
.error {
  color: red;
  width: 320px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  display: none;
  margin-left: 20px;
}

.Ebtn {
  background-color: rgba(8, 38, 11, 0.8);
  padding: 15px;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  width: 400px;
  height: 50px;
  cursor: pointer;
}

.head {
  text-transform: capitalize;
  font-size: 40px;
  color: #040404;
  font-family: "Rubik", sans-serif;
}

.input-group {
  position: relative;
}
.input-group i {
  position: absolute;
  right: 10px;
  top: 15px;
}
.input-group__input {
  border-radius: 15px;
  width: 400px;
  height: 50px;
  padding: 15px;
  background-color: transparent;
  border: 1px solid #474747;
}
.input-group__input__Error {
  border-radius: 15px;
  width: 400px;
  height: 50px;
  padding: 15px;
  background-color: transparent;
  border: 1px solid red;
}
.input-group__label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 17px;
  color: #040404;
  padding: 0 5px;
  pointer-events: none;
  transition: 0.5s;
}
.input-group__input:valid ~ .input-group__label, .input-group__input__Error:valid ~ .input-group__label {
  color: #040404;
  top: 0;
  background-color: #ffffff;
  border-radius: 5px;
}

.para {
  font-size: 20px;
  color: #ececec;
}

.remember {
  font-size: 20px;
  color: #ececec;
  width: 400px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.remember__check {
  width: 20px;
  height: 20px;
}/*# sourceMappingURL=main.css.map */