$primary:#3938e5;
$warning:red;
$light-grey:#bab6b6;
$dark-grey:#5a5a5a;
$dark:#040404;
$light-bg:#fce9d5;
$mainFont:"Rubik", sans-serif;
$light:#FFFFFF;
$font-size:20px;
$btn-color:rgb(65, 65, 158) ;
$light-yellow:#f1ee8e;
$dark-yellow:#e6b400;
// $headFont:;
$head-size:40px;
//btn and input
$btn-width:400px;
$btn-padding:15px;
$btn-radius:15px;
$btn-height:50px;
