$primary: #3938e5;
$warning: red;
$light-grey: #ececec;
$dark-grey: #474747;
$dark: #040404;
$light-bg: #fce9d5;
$mainFont: "Rubik", sans-serif;
$light: #ffffff;
$font-size: 20px;
$btn-color: rgb(65, 65, 158);
$alarm: #ffc800;
// $headFont:;
$head-size: 40px;
//btn and input
$btn-width: 400px;
$btn-padding: 15px;
$btn-radius: 15px;
$btn-height: 50px;
$btn-radius2: 5px;
$green-background: rgba(8, 38, 11, 0.8);
